@charset "UTF-8";

body {
	font-family: 'Segoe UI', sans-serif;
	margin: 0;
	padding: 0;
	background: linear-gradient(to right, #001510, #013d3b);
	color: #ffffff;
}

main {
	padding: 40px 20px;
}

.form-section {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 20px;
}

.form-container {
	width: 100%;
	max-width: 480px;
}

.booking-title {
	text-align: center;
	font-size: 24px;
	color: #00ffaa;
	margin-bottom: 30px;
	text-shadow: 0 0 10px #00ffaa;
}

.booking-form {
	background-color: #01332f;
	padding: 30px 40px;
	border-radius: 20px;
	box-shadow: 0 0 30px rgba(0, 255, 170, 0.2);
	width: 100%;
}

.booking-form label {
	display: block;
	margin-top: 15px;
	font-weight: bold;
	color: #ccfff4;
}
#customerId {
    border: 2px solid #ffcc00;
}


.booking-form input,
.booking-form select {
	width: 100%;
	padding: 12px;
	margin-top: 6px;
	border-radius: 10px;
	border: none;
	background-color: #022d27;
	color: #ffffff;
	font-size: 16px;
	box-shadow: inset 0 0 5px rgba(0, 255, 170, 0.5);
}

.booking-form button {
	margin-top: 25px;
	width: 100%;
	padding: 14px;
	font-size: 16px;
	background-color: #00ffaa;
	color: #000;
	font-weight: bold;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	box-shadow: 0 0 15px #00ffaa;
	transition: 0.3s;
}

.booking-form button:hover {
	background-color: #00e6b2;
}
